.main{width:50em; margin:10em auto 10em auto;}

.poesie{font-family: monospace;}
.poesie footer{font-family: sans-serif; font-size: 1rem;}

.to-wrap{}



.wrapper{
    /*display:inline;
    position:relative;*/
	background-color: moccasin;
    border:1px solid blanchedalmond;
    display:inline-block;
}

.wrapper, .rotated{

}

.wrapper.rotated:nth-of-type(2n){
    animation-delay:-0.2s;

    animation : wind2 2s ease-in 1; animation-fill-mode: both;
}

.wrapper.rotated:nth-of-type(3n){
    animation-delay:-0.2s;

    animation : wind3 2s ease-in 1; animation-fill-mode: both;
}

.rotated{
    position:relative;
    display:inline-block;
    animation : wind 2s ease-in 1; animation-fill-mode: both;
}

.logo{background:pink; display:inline-block; width:auto; margin:0 auto 0 auto; font-size:16em;
    text-shadow:4px 4px 0px #ccc, 8px 8px 0px  #aaa;
    animation:turn 10s ease-out infinite;}

@keyframes slide {
    0% {}
    50% {}
    100% {
        transform:scale3D(1,1,1) rotateZ(360deg)
    }
}

@keyframes wind {
    0% {}
    50% {}
    99% {
          opacity: 0;
          transform: translateY(-100vh) translate(100px) rotateY(-200deg) rotateZ(360deg) scale3D(2,2,2);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes wind2 {
    0% {}
    50% {}
    99% {

        opacity: 0;
          transform: translateY(-100vh) translate(100px) rotateY(360deg) rotateZ(-470deg) scale3D(3,3,3);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes wind3 {
    0% {}
    50% {}
    99% {

        opacity: 0;
        transform: translateY(-100vh) translate(100px) rotateY(100deg) rotateZ(256deg) scale3D(3,3,3);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

blockquote{
font-size:4rem;
}